gl-emoji {
  font-style: normal;
  display: inline-flex;
  vertical-align: baseline;
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  img {
    width: 1.2em;
    height: 1.2em;
  }
}

.user-status-emoji {
  margin-left: $gl-padding-4;
  margin-right: $gl-padding-4;

  gl-emoji {
    font-size: 1em;
    line-height: 16px;
    vertical-align: baseline;
  }
}

.emoji-picker-category-header {
  @include gl-sticky;
  background-color: $white-transparent;
}

.emoji-picker-emoji {
  height: 30px;
  // Create a width that fits 9 emojis per row
  width: 100 / 9 * 1%;
  transition: transform 0.15s cubic-bezier(0.3, 0, 0.2, 2) !important;
  will-change: transform;

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}

.emoji-picker .gl-dropdown .dropdown-menu {
  width: 350px;
}

.emoji-picker-category-tab {
  border-bottom-color: transparent;
}

.emoji-picker-category-active {
  border-bottom-color: var(--gl-theme-accent, $theme-indigo-500);
}

.emoji-picker .gl-dropdown-inner > :last-child {
  padding-bottom: 0;
}
