- return unless current_user

%ul
  %li.current-user
    - if current_user_menu?(:profile)
      = link_to current_user, class: 'gl-line-height-20!', data: { user: current_user.username, testid: 'user-profile-link', track_action: "click_link", track_label: "user_profile", track_property: "navigation_top" } do
        = render 'layouts/header/current_user_dropdown_item'
    - else
      .gl-py-3.gl-px-4
        = render 'layouts/header/current_user_dropdown_item'
  %li.divider
  - if can?(current_user, :update_user_status, current_user)
    %li
      = render Pajamas::ButtonComponent.new(button_options: { class: 'js-set-status-modal-trigger' }) do
        - if current_user.status&.busy? || current_user.status&.customized?
          = s_('SetStatusModal|Edit status')
        - else
          = s_('SetStatusModal|Set status')
  = dispensable_render_if_exists 'layouts/header/start_trial'
  - if current_user_menu?(:settings)
    %li
      = link_to s_("CurrentUser|Edit profile"), profile_path, data: { testid: 'edit_profile_link', track_action: "click_link", track_label: "user_edit_profile", track_property: "navigation_top" }
    %li
      = link_to s_("CurrentUser|Preferences"), profile_preferences_path, data: { track_action: "click_link", track_label: "user_preferences", track_property: "navigation_top" }
  = render_if_exists 'layouts/header/buy_pipeline_minutes', project: @project, namespace: @group

  - if current_user_menu?(:help)
    %li.divider.d-md-none
    %li.d-md-none
      = link_to _("Help"), help_path, data: {track_action: 'click_link', track_label: 'help', track_property: 'navigation_top'}
    %li.d-md-none
      = link_to _("Support"), support_url, data: {track_action: 'click_link', track_label: 'support', track_property: 'navigation_top'}
    %li.d-md-none
      = render 'shared/help_dropdown_forum_link'
  %li.d-md-none
    = link_to _("Submit feedback"), Gitlab::Utils.append_path(promo_url, "submit-feedback"), data: {track_action: 'click_link', track_label: 'submit_feedback', track_property: 'navigation_top'}
  - if current_user_menu?(:help) || current_user_menu?(:settings) || current_user_menu?(:profile)
    %li.d-md-none
      = render 'shared/user_dropdown_contributing_link'
  = render 'shared/user_dropdown_instance_review'
  - if Gitlab.com_but_not_canary?
    %li.d-md-none
      = link_to _("Switch to GitLab Next"), Gitlab::Saas.canary_toggle_com_url, data: { track_action: "click_link", track_label: "switch_to_canary", track_property: "navigation_top" }

  %li.divider
  .js-new-nav-toggle{ data: { enabled: show_super_sidebar?.to_s, endpoint: profile_preferences_url} }

  - if current_user_menu?(:sign_out)
    %li.divider
    %li
      = link_to _("Sign out"), destroy_user_session_path, method: :post, class: "sign-out-link", data: { testid: 'sign_out_link', track_action: "click_link", track_label: "user_sign_out", track_property: "navigation_top" }
